@page
@model IndexModel
@{
    ViewData["Title"] = "Beschikbare producten";
}

<h2>Beschikbare producten</h2>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model.Parts)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Description</td>
            </tr>
        }
    </tbody>
</table>
